/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes animation {
  /* Анимация для одной из картинок */

  0% {
    filter: invert(0%);
    transform: scaleX(1) scaleY(1);
  }

  25% {
    filter: invert(15%);
    transform: scaleX(0.9) scaleY(0.9);
  }

  50% {
    filter: invert(30%);
    transform: scaleX(0.8) scaleY(0.8);
  }

  75% {
    filter: invert(15%);
    transform: scaleX(0.9) scaleY(0.9);
  }

  100% {
    filter: invert(0%);
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes scale {

  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
